<div class="app-title">
  <div>
    <h1><i class="fa fa-dashboard"></i> Employee Designation</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item">Masters</li>
    <li class="breadcrumb-item active"><a routerLink="/dashboard">Dashboard</a></li>
  </ul>
</div>


   
      <div class="row">
        <div class="col-md-11" style="margin-bottom: 25px;">
          <form class="form-inline">
              <div class="input-group ">
              <input type="text" class="form-control" name="key" [(ngModel)]="key" size="50" placeholder="Search" >
              </div>
           </form>
          </div>
          <div class="col-md-1"style="padding-left:40px;">
           <div class="input-group" >
            <button type="submit" (click)="value=!value"class="btn btn-primary" >Add</button>
           </div>
          </div>
      </div>
                
<div class="row top table-responsive"style="margin-right: 0px; margin-left: 0px;">
 <table class="table table-condensed tile" >
    <thead >
      <tr>
        <!-- <th>S.no</th> -->
        <th>Employee Designation </th>
        <th>Edit</th>
        <!-- <th>Delete</th> -->
      </tr>
    </thead>
          <tbody>
              <tr *ngFor="let bulist of empDesignationlist  | filter:key | paginate: { itemsPerPage:5, currentPage: p }; let i=index ">
              <!-- <td>{{i+1}}</td> -->
              <td><div *ngIf="!bulist.isEditable">
                {{bulist.designation}}
              </div>
              
              <input type="text" [(ngModel)]="bulist.designation" class="form-control" *ngIf="bulist.isEditable"/>
            
            </td>
             
              <td>
               
                <button  class="btn" style="background: #009ee2;border:#009ee2;color:white;" *ngIf="bulist.isEditable" 
                (click)="bulist.isEditable=!bulist.isEditable;saveUpdatedValues(bulist);">Update</button>
                <img src="assets/pe.png" width="30"  (click)='bulist.isEditable =!bulist.isEditable' *ngIf="!bulist.isEditable">
                </td>
              <!-- <td><img src="assets/delete.png" width="20"  (click)="deleteDesignation(bulist);"/></td> -->
            </tr>
             <tr>
             <td><input name="employee" [(ngModel)]="employee" *ngIf="value" type="text" class="form-control" placeholder="Enter employeeDesignation" required ></td>
              
             <td> <button type="submit" class="btn btn-primary " *ngIf="value" (click)=setEmpDesignation()>Save</button></td>
                <td><button type="submit" class="btn btn-default " *ngIf="value" (click)=cancelbulist()>Cancel</button></td>
                
             </tr> 
            
              </tbody> 
            
            </table>
            
        
    

        </div> 
      <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>

         
  
  










          <!-- <td>
              <button class="btn btn-primary" (click)="data.isEditable=!data.isEditable" *ngIf="!data.isEditable"  type="button"><i class="fa fa-pencil"></i></button>
              <button *ngIf="data.isEditable" (click)="data.isEditable=!data.isEditable">Update</button> 
          </td>
         
          <td>
              <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td> -->
  