
<nav class="row">
  <div class="nav nav-tabs nav-fill left" id="nav-tab" role="tablist">
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home" 
  aria-selected="false" routerLink="basicInfo">
  <b>Basic Info</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="onboardingdetails" >
  <b>Onboarding</b>
  </a>
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false"  routerLink="education" >
  <b>Education</b>
  </a>
         
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
   aria-selected="true" routerLink="experience" >
  <b>Experience</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false" routerLink="skill" >
  <b>Skill</b>
  </a>
  
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="certification" >
  <b>Certification</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="insurance" >
  <b>Insurance</b>
  </a>
  
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-bankdetails"
  aria-selected="false"  routerLink="bankdetails" >
  <b>Bank Details</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="contact" >
  <b>Contact</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-kye" 
  aria-selected="false" routerLink="kye">
  <b> KYE</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false"  routerLink="businessunit" >
  <b>Business Unit</b>
  </a>
  
   
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-title" 
  aria-selected="false" routerLink="title">
  <b> Title</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false" routerLink="projectdetails" >
  <b>Project</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false" routerLink="dependentdetails" >
  <b>Dependent</b>
  </a>
  
        </div>
       </nav>
  
  
  
  
  <router-outlet></router-outlet>