 .table
{
     background-color: "white";
 }
// .table top {
//     margin-top: 30px;
// }
// .one{
//     background-color: #e7e7e7;
// }
.table{
    margin-top: 50px;
   
}
form
{
    position: relative;
    left: 15px;
}

.leftForm{
    position: relative;
    left: -30px;
}
