
 @media ( min-width: 876px) and ( max-width: 1280px){
     .response{
         width: 900px !important;
     }
 }
 @media ( min-width: 768px) and ( max-width: 877px){
     .response{
         width: 680px !important;
     }
 }
 *{
     font-size: 15px;
 }